:root {
    --size: 1;
    --padColor: #ffffff;
    --headerBackground: #141414;
    --bodyBackground: #2e2e2e;
    --headerFontColor: #e6e6e6;
    --settingFontColor: #ffffff;
    --settingbackgroundColor: #162029;
}
* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--bodyBackground);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 1;
    overflow-y: scroll;
}

/* HEADER */
header#header-content {
    width: 100%;
    min-height: 5rem;
    padding: 0.1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: var(--headerBackground);
    color: var(--headerFontColor);

}
header#header-content h1 {
    text-align: center;
    font-size: 2.5rem;
}

/* MAIN */
main#main-content {
    width: 90%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex: 10;
    gap: 3rem;
}

.settings {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-shrink: 1;
}

.board {
   
    width: 650px;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    background-color: rgb(97, 97, 97);
    flex-shrink: 1; 
    aspect-ratio: 1;
}

.grid {
    background-color: var(--padColor);
    user-select: none;
}
.color-picker {
    display: flex;
    gap: 1rem;
    flex: 0;
}

input[type='color'].brush,
input[type='color'].pad {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: rgb(0, 0, 0);
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5rem;
}

.grid-setting,
.btn-setting {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0;
    gap: 1rem;
}

.clean-setting,
.eraser-setting,
.rainbow-setting,
.grid-setting {
    width: 9.3rem;
    height: 4rem;
    border: 1px solid black;
    background-color: var(--settingbackgroundColor);
    border-radius: 2.5rem;
    color: var(--headerFontColor);
    font-size: 1.3rem;
    font-weight: 800;
    user-select: none;
}

.grid-setting {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    user-select: none;
    border-radius: 1rem;
    gap: 0.5rem;
}

.grid-size-value,
.grid-size-setting {
    width: 9rem;
    text-align: center;
}

.active,
.eraser-setting:hover,
.rainbow-setting:hover,
.clean-setting:hover,
.grid-setting:hover {
    background-color: var(--settingFontColor);
    color: var(--settingbackgroundColor);
    transform: scale(1.05);
    font-weight: 800;
}

.brush:hover,
.pad:hover {
    transform: scale(1.2);
}

/* FOOTER */
footer#footer-content {
    width: 100%;
    background-color: var(--headerBackground);
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex: 0;
    padding: 1rem, 0;

}

div.personal-accounts a,
footer div p{
    color: var(--headerFontColor);
}

div.personal-accounts {
    display: flex;
    font-size: 2.5rem;
    gap: 1.3em;
}

footer div p {
    font-size: 0.8rem;
}




@media screen and (max-width: 800px) {

header#header-content {
    min-height: 3rem;
}
header#header-content h1 {
    text-align: center;
    font-size: 1.5rem;
}

.body {
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

main#main-content {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem;
    gap: 0.5rem;
}

.board {
    margin: 0, 2em;
    width: 90vw;
}

.settings {
    width: 22rem;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.color-picker,
.grid-setting,
.btn-setting {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clean-setting,
.eraser-setting,
.rainbow-setting,
.grid-setting {
    width: 6rem;
    height: 3.5rem;
    border: 1px solid black;
    background-color: var(--settingbackgroundColor);
    border-radius: 2.5rem;
    color: var(--headerFontColor);
    font-size: 0.8rem;
    font-weight: 800;
    user-select: none;
}
.grid-setting {
    border-radius: 1rem;
    padding-top: 0.5em;
    width: 3rem;
    height: 12rem;
}

.grid-size-value,
.grid-size-setting {
    margin-top: 4rem;
}
.grid-size-setting {
    transform: rotate(270deg);
}

footer#footer-content {
    width: 100%;
    height: 80px;
    background-color: var(--headerBackground);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.7rem;
}

div.personal-accounts {
    display: flex;
    font-size: 2rem;
    gap: 1.3em;
    flex: 0;
}

footer div p {
    font-size: 0.7rem;
    margin-bottom: 10px;
}

}